G=292000000
## FEEL FREE TO SPECFY WHAT TO DO AND WHAT NOT TO DO
BUILDBT2=false #true
RUNLAP=false #true
MAPREADS=false #true
RUNALE=false #true
RUNFRC=false #true

RUNREAPR=false #true
FACHECK=false #true     ##REAPR
PERFECTMAP=false #true  ##REAPR
SMALTMAP=false #true    ##REAPR
PIPELINE=false #true    ##REAPR
AGGRESSIVE=false

RUNBUSCO=true

# CLEANUPS
CLEANLAP=false #true
CLEANALE=false #true
CLEANFRC=false #true
CLEANREAPR=false #true

if [ $# -eq 3 ]; then CLEANBUSCO=true; elif [ $# -eq 4 ]; then CLEANBUSCO=$4; else CLEANBUSCO=true; fi

CLEANMREADS=false #true
CLEANBT2=false #true

## Full Erase LAP
FULLERASELAP=false ## set to true if want it to start completely over. Otherwise, the lap script can detect what needs tobe done still and do it...

## FEEL FREE TO CHANGE THREADS/MEM/TIME FOR EACH JOB TYPE
B2THREADS=1
B2MEM=12g
B2TIME=06:00:00

LTHREADS=12
LMEM=122g
LTIME=48:00:00

MTHREADS=8
MMEM=23g
MTIME=16:00:00

ATHREADS=4
AMEM=12g
ATIME=06:00:00

FTHREADS=4
FMEM=8g
FTIME=06:00:00

RTHREADS=16
RMEM=100g
RTIME=72:00:00

BTHREADS=16
BMEM=32g
BTIME=24:00:00

