G=292000000

## FEEL FREE TO SPECFY WHAT TO DO AND WHAT NOT TO DO
BUILDBT2=true
RUNLAP=true
MAPREADS=true
RUNALE=true
RUNFRC=true
RUNREAPR=true
FACHECK=true     ##REAPR
PERFECTMAP=true  ##REAPR
SMALTMAP=true    ##REAPR
PIPELINE=true    ##REAPR
AGGRESSIVE=false ##REAPR
RUNBUSCO=true
RUNPILON=true
MKDUPS=true
NOSTRAYS=true
CHANGES=false
VCF=true
TRACKS=false
PILONFIX=none

# CLEANUPS
CLEANLAP=true
CLEANALE=true
CLEANFRC=true
CLEANREAPR=true
CLEANBUSCO=true
CLEANMREADS=true
CLEANBT2=true
CLEANPILON=true

## Full Erase LAP
FULLERASELAP=false ## set to true if want it to start completely over. Otherwise, the lap script can detect what needs tobe done still and do it...

## FEEL FREE TO CHANGE THREADS/MEM/TIME FOR EACH JOB TYPE
B2THREADS=1
B2MEM=12g
B2TIME=06:00:00

LTHREADS=12
LMEM=122g
LTIME=48:00:00

MTHREADS=8
MMEM=23g
MTIME=24:00:00

ATHREADS=4
AMEM=12g
ATIME=06:00:00

FTHREADS=4
FMEM=8g
FTIME=06:00:00

RTHREADS=16
RMEM=60g
RTIME=72:00:00

BTHREADS=16
BMEM=24g
BTIME=24:00:00


## Beginning to phase thse into setup.cfg
#PTHREADS=4
#PMEM=150g
#PTIME=48:00:00
#JX=148g
