G=292000000
## FEEL FREE TO SPECFY WHAT TO DO AND WHAT NOT TO DO
BUILDBT2=false
RUNLAP=false
MAPREADS=false #true
RUNALE=false

RUNFRC=true

RUNREAPR=false #true
FACHECK=false #true     ##REAPR
PERFECTMAP=false #true  ##REAPR
SMALTMAP=false #true    ##REAPR
PIPELINE=false #true    ##REAPR
AGGRESSIVE=false

RUNBUSCO=false #true

# CLEANUPS
CLEANLAP=false #true
CLEANBT2=false #true
CLEANALE=false #true

CLEANFRC=true

CLEANREAPR=false #true
CLEANBUSCO=false #true
CLEANMREADS=false #true


## Full Erase LAP
FULLERASELAP=false ## set to true if want it to start completely over. Otherwise, the lap script can detect what needs tobe done still and do it...

## FEEL FREE TO CHANGE THREADS/MEM/TIME FOR EACH JOB TYPE
B2THREADS=1
B2MEM=12g
B2TIME=06:00:00

LTHREADS=12
LMEM=122g
LTIME=96:00:00

MTHREADS=8
MMEM=23g
MTIME=16:00:00

ATHREADS=4
AMEM=16g
ATIME=06:00:00

FTHREADS=4
FMEM=12g
FTIME=06:00:00

RTHREADS=16
RMEM=100g
RTIME=72:00:00

BTHREADS=16
BMEM=32g
BTIME=24:00:00

